@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

body, html {
    height: 100%;
    margin: 0;
    font-family: monospace, 'Roboto', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    overflow: hidden;
}

.message {
    position: relative;
    width: 0;
    margin: 0 auto;
    border-right: 2px solid black;
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);  
}

.typewriter {
    animation: typing 7s steps(23) 1s infinite normal both, blink-cursor 500ms steps(23) infinite normal;
}

@keyframes typing {
    0% { width: 0 }
    40%, 50% { width: 100% }
    90%, 100% { width: 0 }
}

@keyframes blink-cursor {
    from, to { border-color: transparent }
    50% { border-color: black }
}
